{% extends 'blog2/base.html' %}
{% load staticfiles %}

{% block content %}
<h1>Despre mine</h1>
<p>Nascut in 1962, Craiova,
tatal – profesor de literatura, mama – asistenta medicala.</p>
<p>Master Relatii Publice – SNSPA Bucuresti, 2004</p>
<p>Facultatea de Mecanica, Universitatea din Craiova, 1990</p>
<p>Fan Apple Macintosh, Beatles, Led Zepp, Purple, Yes, Sting</p>
<p>Ce am facut in ultimii douazeci de ani:
antreprenoriat, jurnalism, politica, relatii publice, somer in cateva randuri.</p>
{% endblock %}