h1 a {
	color: #fca205;
	font-family: 'Merriweather', serif;
	padding: 0 0 10px 0;
}
body {
	padding: 0 0 30px 25px;
	font-size: 100%;
	background-color: #efefef;
	text-align: left;
}
.page-header {
	width: 960px;
	background-color: #000000;
	margin: 10px 0 0 140px ;
	padding: 30px 20px 20px 60px;
}
.slogan{
	color: #fca205;
	padding: 0 0 0 20px;
}

a {
	color: #fca205;
}

.page-header h1, .header h1 a, .header h1 a:visited, .header h1 a:active {
	color: #000000;
	font-size:36pt;
	text-decoration: underline;
}
.content-container {
	margin-left: 40px;
	width: 960px;
	padding-top: 20px;
	margin: 0 0 0 140px;
	border: 4px double #000;
	
}
h1, h2, h3, h4, blockquote, p {
	padding-left: 15px;
	font-family: "Trebuchet MS",'Merriweather', serif, cursive;
	
	
}
.date {
	color: #828282;
	padding: 0 0 0 18px;
}
.save {
	float:right;
}
.post-form textarea, .post-form input{
	width: 100%;
}
.top-menu, .top-menu:hover, .top-menu:visited{
	color: #ffffff;
	float: right;
	font-size 26pt;
	margin-right: 20px;
}
.post {
	margin-bottom: 70px;
}
.post h1 a, .post h1 a:visited {
	color: #000000;
}

/*Navigatia*/

#nav-top ul {
  width: 960px;
  list-style: none;
  background-color: #000;
  text-align: right;
  padding: 20px 50px 5px 60px;
  margin: 10px 0 0 140px;
  color:#fca205;
  overflow: hidden;
  height: 70px;
  
}

.nav {
	display: inline-block;
	font-size:20px;
	
	width: 470px;
	color:#fca205;
}
.nav li{
	display: inline;
	text-decoration: underline;
	

}

#nav-top a:hover{
	color:#fca205;
}


/*Sidebar-ul*/

.sidebar{
	float: right;
	text-align: left;
	width:260px;
	background-color: #efe5d0;
	padding: 100px 20px 0 20px;
	font-size: 15px;
	display: inline;
	border-width: 2px;
	border-style: solid;
	border-color: #fff;
	height: 450px;
	margin:15px 0 0 20px;
}
.reclama{
	float:right;
	width: 260px;
	background-color: #efe5d0;
	padding: 100px 20px 0 20px;
	font-size: 15px;
	display: inline;
	border-width: 5px;
	border-style: solid;
	border-color: #fff;
	height: 450px;
	margin:15px 0 0 65px;
}

#disqus-thread{
	margin: 0 0 0 15px;
}

.footer {
	width: 960px;
	background-color: #000;
	height: 100px;
	padding: 25px 0 0 25px;
	margin: 10px 10px 10px 140px;
	font-size: 90%;
	text-align: center;
	color: #fca205;
}


